<div class="footer">
    <div class="menu">

         <a routerLink="/" [ngClass]="{'active': isCurrentPage('/')}">
            <fa-icon [icon]="faHouse"></fa-icon>
            </a>

          <a routerLink="/about" [ngClass]="{'active': isCurrentPage('/about')}">
            <fa-icon [icon]="faStar"></fa-icon>

            </a>

          <a routerLink="/about" [ngClass]="{'active': isCurrentPage('/about')}">
            <fa-icon [icon]="faUser"></fa-icon>

          </a>

       <a routerLink="/about" [ngClass]="{'active': isCurrentPage('/about')}">
        <fa-icon [icon]="faCartShopping"></fa-icon>

          </a>

        <a routerLink="/about" [ngClass]="{'active': isCurrentPage('/about')}">
            <fa-icon [icon]="faBell"></fa-icon>

          </a>



    </div>
</div>
