<div class="content">
    <div class="contentMenu">
<div class="topdiv">
    <img src="../../../assets/img/logo.jpg"/>
    <h1>Round<span>Buy</span></h1>

<div class="menutxts">
  <a>STORE <fa-icon [icon]="faStore"></fa-icon></a>
  <a>CATEGORIAS <fa-icon [icon]="faCaretDown"></fa-icon> </a>
  <a>SOBRE NÓS <fa-icon [icon]="faPeopleGroup"></fa-icon></a>
</div>

<div class="socialicones">
  <button class="socialbutton">
    <fa-icon [icon]="faLinkedinIn"></fa-icon>

  </button>
  <button class="socialbutton">
    <fa-icon [icon]="faFacebookF"></fa-icon>

  </button>
  <button class="socialbutton">
    <fa-icon [icon]="faInstagram"></fa-icon>

  </button>
</div>

<button class="authbutton">
  <fa-icon [icon]="faUserAstronaut"></fa-icon>
  <h2>Entrar</h2>
</button>


</div>
<!-- <div class="buttomdiv">

    <div class="menu" >
        <ul>

            <li>
                <a routerLink="/anunciar" [ngClass]="{'active': isCurrentPage('/anunciar')}">Anúnciar Round</a>
            </li>
          <li>
              <a routerLink="/register"  [ngClass]="{'active': isCurrentPage('/register')}">Crie a sua conta</a>
          </li>
          <li>
              <a routerLink="/login" [ngClass]="{'active': isCurrentPage('/login')}">Entre</a>
          </li>
      </ul>
    </div>
</div> -->
</div>
</div>
