.content {
  width: 100%;
  background-color: black;
  height: 120px;
  
}
.contentMenu{
   height: 100%;
   width: 100%;
   max-width: 1300px;
   margin: auto;
}

.topdiv{
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;

  fa-icon{
    color: white;
    font-size: 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
  }

  img{
    height: 100%;
  
  }
  h1{
    font-size: 40px;
    color: white;
    padding: 20px;
    margin-top: 20px;
    span{
      color: #1ff6f1;
    }

  }
}

.buttomdiv{
  height: 30%;
  width: 100%;
  background-color: black;
}

.menu {

  display: flex;
  height: 7vh;
  width: 100%;
position: relative;
  transition: all 0.3s ease;
  justify-content: center;
}

.hamburger-button {
background-color: transparent;
border: none;
padding: 10px;
}

.menu.open {
display: flex;
  height: 93vh;
  width: 100px;
  background-color: black;
  position: relative;
  transition: all 0.3s ease;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.menu ul li {
display: flex;
padding: 10px;
align-items: flex-start;
justify-content: space-around;
}

      .menu li a {
        display: flex;
        align-items:  flex-start;
        gap: 10px;
      }

      a {
        color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items:  flex-start;
}
a.active {
color: #1ff6f1;
text-decoration: none;
/* Defina aqui a cor desejada para a página ativa */
}

.menutxt {
margin-top: 20px;
}
