<div class="content">
    <div class="contentMenu">
<div class="topdiv">
    <img src="../../../assets/img/logo.jpg"/>
    <h1>Round<span>Buy</span></h1>

    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>

</div>
<div class="buttomdiv">

    <div class="menu" >
        <ul>

            <li>
                <a routerLink="/anunciar" [ngClass]="{'active': isCurrentPage('/anunciar')}">Anúnciar Round</a>
            </li>
          <li>
              <a routerLink="/register"  [ngClass]="{'active': isCurrentPage('/register')}">Crie a sua conta</a>
          </li>
          <li>
              <a routerLink="/login" [ngClass]="{'active': isCurrentPage('/login')}">Entre</a>
          </li>
      </ul>
    </div>
</div>
</div>
</div>
