<div class="menu-container">
    <button (click)="toggleMenu()" class="hamburger-button">
      <span class="toggle1" [ngClass]="{'open': isOpen}"></span>
      <span class="toggle2" [ngClass]="{'open': isOpen}"></span>
      <span class="toggle3" [ngClass]="{'open': isOpen}"></span>
    </button>


    <div class="menu">
        <ul>
          <li><a routerLink="/" [ngClass]="{'active': isCurrentPage('/')}">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
              <a *ngIf="isOpen && isRendered" [ngClass]="{'active': isCurrentPage('/')}">Home</a>
            </a>
          </li>
          <li><a routerLink="/about" [ngClass]="{'active': isCurrentPage('/about')}">
              <mat-icon> business</mat-icon>
              <a *ngIf="isOpen && isRendered" [ngClass]="{'active': isCurrentPage('/about')}">About</a>
            </a>
          </li>

      </ul>
    </div>
  </div>
